*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}
.hex-colors h2{
    margin-top: 15%;
    font-size: 2rem;
}
@keyframes changecolor{
    0%{
        color: blue;
    }
    20%{
        color: purple;
    }
    40%{
        color: maroon;
    }
    60%{
        color: red;
    }
    80%{
        color: orange;
    }
    100%{
        color: yellow;
    }
}