*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #06bcc1;
}
.container{
 
    width: 95%;
    height: 100vh;
    display: flex;
}
.quotes{
    width: 900px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}
.quotes p h3{
    font-size: 1.5rem;

}
